
:root {
  --green: #45523a;
  --light_orange: #fff5e3;
  --dark_gray: #273043;
  --light_gray: #999999;
  --rich_blue: #487fa1;
  --light_blue: #A4B5BF;
  --light_green: #C9CBA3
}

.intro h2 {
    color: var(--newColor);
}

.intro {
    border-radius: 15px;
    background-color: var(--light_orange);

    padding: 40px;

    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 15px;
    max-width: 80%;
    height: 115px;
    font-size: 15px;
    text-align: center;
}

* {
  box-sizing: border-box;
}

.spacer {
    height: 600px;
}

.main_blog {
    margin-top: 80px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 900px) {

  .intro
  {
    width: 90%;
  }
}
