
:root {
  --green: #45523a;
  --light_orange: #fff5e3;
  --dark_gray: #424242;
  --light_gray: #999999;
  --rich_blue: #487fa1;
  --light_blue: #A4B5BF;
  --light_green: #C9CBA3;
  --white: #ffffff
}


h1, h2, h3, h4, h5, h6, p {
    color: --var(--dark_gray);
}

* {
  box-sizing: border-box;
}


.spacer {
    height: 30px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    background-color: var(--white)
}

/* Header/Blog Title */
.header {
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
    background: var(--green);
    font-size: 16px;
    line-height: 20pt;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 105%;
    margin-left: -20px;
    }


.header h1, h2, h3, h4 {
    display: inline;
}

.header h1 {
    color: var(--light_orange);
}

.header h2 {
    font-size: 16;
}

.header h1 a {
  color: var(--light_orange);
  text-decoration: none;
}

.header h2 a {
  color: var(--white);
  text-decoration: none;
}

.header h2 a:hover {
  color: var(--light_gray);
}

.main_home {
    margin-top: 60px;
}

.about {
    justify-content: center;
    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 17px;
    background-color: var(--light_orange);
    box-shadow: 10px 10px var(--light_gray);
    line-height: 30pt;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.aboutimg {
    box-shadow: 10px 10px var(--rich_blue);
}

.about img {
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

.about h2, h3{
    display: grid;
    justify-content: left;
    line-height: 15px;
}

.about a {
    color: #2e2e2e;
    font-weight: 700;
    text-decoration: none;
}

.about a:hover {
    color: var(--rich_blue);
    font-weight: 700;
    text-decoration: none;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymovel {
  from {margin-left: 0%;}
  to {margin-left: 40%;}
}

@-webkit-keyframes mymover {
  from {margin-right: 0%;}
  to {margin-right: 40%;}
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.columnl {
    float: left;
    width: 53%;
    border-radius: 30px;
    margin-left: 2%;
}

/* when list comes after a paragraph element */
p + ul {
    margin-top: -22px;
    line-height: 1.7;
}

.columnr
{
    float: right;
    width: 40%;
    margin-right: 2%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
    padding: 1px;
    text-align: center;
    background: var(--green);
    margin-top: 40px;
    bottom: -30px;
    width: 100%;
    box-shadow: 0 50vh 0vh 50vh var(--green);
}

.footer a {
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
}

.footer a:hover {
  color: var(--light_gray);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
  .columnl, .columnr {
    width: 97%;
    padding: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .columnl {
    margin-left: 1.5%;
    margin-top: 20px;
    animation-duration: 0s;
  }
  .columnr {
    margin-right: 1.5%;
    margin-top: 20px;
    animation-duration: 0s;
  }
  .intro {
    width: 90%;
  }
}
