
:root {
  --green: #45523a;
  --light_orange: #fff5e3;
  --dark_gray: #273043;
  --light_gray: #999999;
  --rich_blue: #487fa1;
  --light_blue: #A4B5BF;
  --light_green: #C9CBA3;
  --white: #ffffff;
  --newColor: #eb6746;
  /* --newColor: #F4B886; */
  --newSecondaryColor: #BA2612;
  /* --newSecondaryColor: #273043; */
  --newTertiarycolor: #6A8EAE;
  --newHoverColor: #F8EA9B;
  --newBoxColor: #fbebcf
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    padding: 5px;
    background-color: var(--newColor)
}

/* Header/Blog Title */
.header {
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: var(--newColor);
    top: 0px;
    height: 10vh;
    line-height: 50px;
    align-items: center;
    display: flex;
}

.header h1, h2, h3, h4 {
    display: inline;
}

.space5 {
    height: 5vh;
}

.header {
    color: var(--light_orange);
    min-height: 10vh;
}

.header h1 {
    font-size: 35pt;
}
.header h2 {
    font-size: 14pt;
}


.header h1 a {
  color: var(--light_orange);
  text-decoration: none;
}

.header h1 a:hover {
  color: var(--light_orange);
  text-decoration: none;
}

.header h2 a {
  color: var(--light_orange);
  text-decoration: none;
}

.header h2 a:hover {
  color: var(--newHoverColor);
  text-decoration: none;
}

.lg-view {
   display: inline-block;
}

.sm-view {
   display:none;
}

.main_home {
    margin-top: 5px;
    padding-left: 20px;
    width: 80%;
    height: 40vh;
    font-size: 14pt;
    color: var(--light_orange)
}

.main_home h2 a {
  color: var(--light_orange);
  text-decoration: underline;
}

.main_home h2 a:hover {
  color: var(--newHoverColor);
  text-decoration: underline;
}

.main_navigation {
    margin-top: 5px;
    padding-left: 20px;
    text-align: center;

}

.image {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 25%;
    float: left;
}

.specialspacer {
    min-height: 20vh;
}
.where_title {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 10vh;
    text-align: center;
    color: var(--light_orange)
}

.space40 {
    height: 45vh;
}

.navigation {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 97%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymovel {
  from {margin-left: 0%;}
  to {margin-left: 40%;}
}

@-webkit-keyframes mymover {
  from {margin-right: 0%;}
  to {margin-right: 40%;}
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.columnl {
    float: left;
    width: 20%;
    margin-left: 2%;
}

/* when list comes after a paragraph element */
p + ul {
    margin-top: -22px;
    line-height: 1.7;
}

.columnr {
    float: right;
    width: 75%;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
    padding: 1px;
    text-align: center;
    background: var(--newColor);
    margin-top: 200px;
    bottom: -30px;
    width: 100%;
    box-shadow: 0 50vh 0vh 50vh var(--newColor);
}

@media screen and (max-width: 800px) {
    .header {
        top: 50px;
        height: 5vh;
    }

    .lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
    }

    .main_home {
        font-size: 12pt;
        width: 90%;
    }

    .navigation {
        display: none;
    }

    .where_title {
        display: none;
    }
}
