
:root {
  --green: #45523a;
  --light_orange: #fff5e3;
  --dark_gray: #273043;
  --light_gray: #999999;
  --rich_blue: #487fa1;
  --light_blue: #A4B5BF;
  --light_green: #C9CBA3;
  --white: #ffffff;
  --newColor: #eb6746;
  --newSecondaryColor: #BA2612;
  --newTertiarycolor: #6A8EAE;
  --newHoverColor: #F8EA9B;
  --newBoxColor: #fbebcf
}


body {
    font-family: 'Poppins', sans-serif;
    width: auto;
    padding: 5px;
    background-color: var(--newColor)
}

.intro {
    border-radius: 15px;
    background-color: var(--light_orange);

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 15px;
    max-width: 50%;
    justify-content: center;
    line-height: 26pt;
    font-size: 15px;
}

.intro h2 a {
    color: var(--newColor);
    text-decoration: none;
}

.intro h2 a:hover {
    color: var(--newSecondaryColor);
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

.line-in-middle {
    background: linear-gradient(var(--light_green), var(--light_green)) no-repeat center/10px 100%;
	}

.spacer {
    height: 30px;
}

.timeline {
    height: 200%;
}

.timeline_label {
    background-color: var(--light_green);
    height: 10px;
    text-align: center;
    max-width: 150px;
    margin-left: 45%;
    margin-right: 45%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    background-color: #FEFEFF;
}

.job {
    justify-content: center;
    min-height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 17px;
    background-color: var(--light_orange);
    line-height: 26pt;
}

.job {
    color: var(--dark_gray);
}

.job h3 {
    line-height: 29pt;
    color: var(--newColor)
}

.job h4 {
    color: var(--newSecondaryColor)
}

.job a {
    color: var(--dark_gray);
    text-decoration: underline;
}


.job a:hover {
    color: var(--newSecondaryColor);
    text-decoration: underline;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymovel {
  from {margin-left: 0wh;}
  to {margin-left: 40wh;}
}

@-webkit-keyframes mymover {
  from {margin-right: 0wh;}
  to {margin-right: 40wh;}
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.timeline_l {
    float: left;
    width: 50%;
    margin-top: 30px;
    margin-left: 40%;
    animation-name: mymovel;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.timeline_r
{
    float: right;
    width: 50%;
    margin-top: 30px;
    margin-right: 40%;
    animation-name: mymover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 900px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .timeline_l, .timeline_r {
    width: 94%;
    margin: 0px;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0px;
    padding-right: 18px;
    padding-left: 18px;
    animation-name: none;
  }
  .intro {
      margin-top: 5%;
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 15px;
      max-width: 80%;
  }
}
